* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
    width: 100%; 
    position: relative; 
  }

  .about{
    /* width: 580px; 
    height: 60px;  */
    padding-top: 50px;
    padding: 20px;
    text-align: center; 
    color: black; 
    font-size: 32px; 
    font-family: Spectral; 
    font-weight: 300; 
    line-height: 22.40px; 
    letter-spacing: 1.28px; 
    word-wrap: break-word
  }

  p{
    /* width: 890px;  */
    text-align: center; 
    color: black;
    padding-top: 100px;
    font-size: 24px; 
    font-family: Brygada 1918; 
    font-style: italic; 
    font-weight: 400; 
    line-height: 30px; 
    word-wrap: break-word
  }

  
  .container{
    display: flex;
    width: 100%;
    /* height: 100vh; */
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

  }
  
  .child_container
  {
    flex:1;
    border: 2px solid yellow;
  }
img{
  padding-left: 130;
  padding-top: 20px;
  flex:1;
  width: 450px; 
  height: 750px
}
.child_container{
  width: 450px; 
  height: 750px;
  padding: 50px;
}
h1{
  padding-top: 100px;
  padding-left: 20px;
  color: black; 
  font-size: 40px; 
  font-family: Spectral; 
  font-weight: 500; 
  line-height: 24px; 
  word-wrap: break-word;
}

p{
  padding: 100px;
  color: black; 
  font-size: 20px; 
  font-family: Spectral; 
  font-weight: 500; 
  line-height: 24px; 
  word-wrap: break-word; 
}

